.home {
    width:70px;
    height:70px;
    background-position:center;
    position:absolute;
    z-index:9999;
    top:2;
    left:2;
}

#pic {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}

#back1 {
    background: url(mediumimages/dog.png);
}

#back2 {
    background: url(mediumimages/dogtext.png);
}

#back3 {
    background: url(mediumimages/duck.png);
}
#back4 {
    background: url(mediumimages/ducktext.png);
}

#back5 {
    background: url(mediumimages/elephant.png);
}

#back6 {
    background: url(mediumimages/elephanttext.png);
}
#back7 {
    background: url(mediumimages/fox.png);
}

#back8 {
    background: url(mediumimages/foxtext.png);
}

#shuffle2{
    position:fixed;
}

.flip3Dclick {
    width: 165px;
    height: 165px;
    margin: 30px;
    margin-top: 8em;
    float: left;
    position: relative;
    right: -5%;
}

.flip3Dclick > .front{
    position: absolute;
    transform:perspective(600px) rotateY(0deg);
    -webkit-transform:perspective(600px) rotateY(0deg);
    background: #FC0;
    width: 165px;
    height: 165px;
    border-radius: 20px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}


.backImage{
    position: absolute;
    transform:perspective(600px) rotateY(180deg);
    -webkit-transform:perspective(600px) rotateY(180deg);
    width: 165px;
    height: 165px;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}


#back1 {
    background: url(hardimages/salt1.png);
}
#back2 {
    background: url(hardimages/pepper1.png);
}
#back3 {
    background: url(hardimages/purse1.png);
}
#back4 {
    background: url(hardimages/money1.png);
}
#back5 {
    background: url(hardimages/hammer1.png);
}
#back6 {
    background: url(hardimages/nails1.png);
}
#back7 {
    background: url(hardimages/dog11.png);
}
#back8 {
    background: url(hardimages/bone1.png);
}

#winmenu {
width: 200px;
height: 200px;
display: none;
position:absolute;
left:41.5%;
margin-top:18em;

}

.nextLevel {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    z-index: 9999;
    position: relative;
    right: 58%;
    margin-top: -7em;
  
}
