#pic {
    width: 1025px;
    height: 750px;
    position:fixed;
}

#shuffle3{
    position:fixed;
}

@font-face {
    font-family: "rumpel";
    src: url("font/Rumpelstiltskin.ttf"); 
}

.flip3Dclick {
    width: 165px;
    height: 165px;
    margin: 10px;
    margin-top: 3.5em;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    position: relative;
    right: -10%;
}
.flip3Dclick > .front{
    position: absolute;
    transform:perspective(600px) rotateY(0deg);
    -webkit-transform:perspective(600px) rotateY(0deg);
    background: #FC0;
    width: 165px;
    height: 165px;
    border-radius: 20px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}


.backImage{
    position: absolute;
    transform:perspective(600px) rotateY(180deg);
    -webkit-transform:perspective(600px) rotateY(180deg);
    width: 165px;
    height: 165px;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}
#winmenu3 {
    width: 500px;
    height: 420px;
    margin-top: 10em;
    background: #FC0;
    position: fixed; 
    right: 25%;
    z-index: 9999;
    display: none;
    border-radius: 12px;
}

#winText3 {
    font-size: 100px;
    color: green;
    text-align: center;
    margin-top: 70px;
    font-family: "rumpel";
    }

#button2 {
    width: 200px;  
    height: 100px;
    position: relative;
    right: -30%;
    margin-top: -4em;
}    

#back1 {
    background: url(images/dog1.png);   
}

#back2 {
    background: url(images/walrus1.png);   
}

#back3 {
    background: url(images/skunk1.png);
}

#back4 {
    background: url(images/elephant1.png);   
}

#back5 {
    background: url(images/racoon1.png);   
}

#back6 {
    background: url(images/monkey1.png);
}
