.home {
    width:70px;
    height:70px;
    position:absolute;
    z-index:0;
    top: 0.25em;
    left:0.25em;
}

#pic {
    width: 1025px;
    height: 750px;
    position:fixed;
}

#shuffle2{
    padding-top: 3%;
    position:fixed;
}

@font-face {
    font-family: "rumpel";
    src: url("font/Rumpelstiltskin.ttf"); 
}

.flip3Dclick {
    width: 165px;
    height: 165px;
    margin: 30px;
    margin-top: 8em;
    float: left;
    position: relative;
    right: -5%;
}

.flip3Dclick > .front{
    position: absolute;
    transform:perspective(600px) rotateY(0deg);
    -webkit-transform:perspective(600px) rotateY(0deg);
    background: #FC0;
    width: 165px;
    height: 165px;
    border-radius: 20px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}


.backImage{
    position: absolute;
    transform:perspective(600px) rotateY(180deg);
    -webkit-transform:perspective(600px) rotateY(180deg);
    width: 165px;
    height: 165px;
    border-radius: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 0.5s linear 0s;
    -webkit-transition: 0.5s linear 0s;
}
#winmenu2 {
    width: 500px;
    height: 420px;
    margin-top: 10em;
    background: #FC0;
    position: fixed; 
    right: 25%;
    z-index: 9999;
    display: none;
    border-radius: 12px;
}

#winText {
    position: relative;
    width: 400px;
    margin-top: 15em;
    right: -38em;
    }

#button2 {
    width: 200px;  
    height: 100px;
    position: relative;
    right: -30%;
    margin-top: -4em;
}    


#back1 {
    background: url(images/lion.png);
}

#back2 {
    background: url(images/fox.png);
}

#back3 {
    background: url(images/bear.png);
}

#back4 {
    background: url(images/cat.png);
}

